body {
  display: flex;
  min-width: 98vw;
  min-height: 98vh;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}

#app {
  display: flex;
  min-width: 50vw;
  min-height: 50vh;

}
.budget-tracker {
  width: 750px;
  background-color: #f2f2f2;
  padding: 20px;
  box-sizing: border-box;
  border-collapse: collapse;
}

.budget-tracker * {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

.budget-tracker th {
  text-align: left;
  padding: 10px 20px;
  background-color: #f2f2f2;
  border-bottom: 1px solid rgb(7, 109, 66);
}

.budget-tracker td {
  padding: 10px 20px;
  border-bottom: 1px solid grey;
}

.input,
.delete-entry {
  height: 30px;
  display: inline-block;
  padding: 0 10px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
}

.input {
  border: 1px solid #dddddd;
  border-radius: 5px;
  outline: none;
}

.input:focus {
  border: 1px solid rgb(7, 109, 66);
}

.delete-entry {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  border: none;
  outline: none;
  color: red;
  border-radius: 5px;
  background: none;
  cursor: pointer;
}

.delete-entry:hover {
  background-color: rgb(7, 109, 66);
  color: white;
}

.controls,
.summry {
  text-align: right;
}

.h {
  font-size: 10px;
  height: 100px;
  width: 100px;
  font-weight: bold;
  text-align: left;
}
